@page "/NotAuthComponent"
@layout SecondLayout


<h1>This page is rendered using explicitly set SecondLayout. Below is included Login component from default template in
    order to showcase what page will look like once logged in.</h1>

<br>

<LoginDisplay />